#!/bin/sh

setbg &				# Set the background
sxhkd &				# Bind keys
remaps &			# Switch to US international with Caps as Mod/Escape
unclutter &			# Remove mouse when idle
compton &			# xcompmgr for transparency
dunst &				# dunst for notifications
telegram-desktop &
sleep 2 && qsyncthingtray & 	# 2 secs delay to prevent networking issues
nm-applet &

