{
    "format": "<span font_family='monospace' color='#ffa651' weight='bold'>{status:icon}</span> <span color='#72bf44' weight='bold'>{artist}</span><span color='#ffa651'> - </span><span color='#b2d235'>{title}</span>",
    "markup_escape": true,
    "status_icons": {
        "Playing": "|>",
        "Paused": "||",
        "Stopped": "[]"
    },
    "mouse_buttons": {
        "1": "PlayPause",
        "2": "Previous",
        "3": "Next"
    }
}
